<form class="produit_btn_admin" method="post" action="{{ path('app_panier_delete', {'id': panier.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce panier ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ panier.id) }}">
    <button class="produit_btn_admin_delete">Delete</button>
</form>
