{{ form_start(form) }}
<div class="update_form_panier">
    {{ form_widget(form) }}
</div>
    
    <button class="form_box_btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
