<form class="produit_btn_admin" method="post" action="{{ path('app_cleat_delete', {'id': cleat.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cleat.id) }}">
    <button class="produit_btn_admin_delete">Delete</button>
</form>
